/* .main_div{
    width: 3.4rem;
    height: 3.4rem;
    position: fixed;
    z-index: 5;
    display: flex;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    justify-content: center;
    /* background-color: #7c3aed; */
    border-radius: 75px;
    
    display: none; */

}